body {
    background-color: rgb(245, 245, 245);
    color: black;
    display: flex;
    flex-direction: row;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

header {
    border-right: 3px solid rgb(160, 160, 160);
    position: fixed;
    left: 0;
    height: 100%;
}

#header-title-container {
    width: 300px;
    text-align: center;
    border-bottom: 1px solid black;
}

nav {
    display: flex;
    flex-direction: column;
}

.nav-link-container {
    border-bottom: 1px solid black;
    padding: 12px;
    padding-left: 25px;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    color: darkgray;
}

a:active {
    color: gray;
}

main {
    margin-left: 350px;
    margin-right: 50px;
}

p, li {
    color: rgb(65, 65, 65);
    font-size: 0.95em;
    margin-bottom: 12px;
}
